<div class="container-fluid cabecera">
  <div class="row logo">
    <img src="../assets/img/logo.png">
  </div>
</div>
<div style="padding-top: 2px;">
  <div class="container-fluid subcabecera">

  </div>
</div>
<div style="padding-top: 50px;" align="center">
  <div class="row titulo-search">
    <div class="col-4" style="text-align: left;
    font: normal normal bold 25px/24px Roboto;
    letter-spacing: 0.78px;
    color: #4B9F8E;
    opacity: 1;">
      Lista de tareas
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <input class="form-control" list="datalistOptions" placeholder="Buscar..." id="search">
    </div>
  </div>
</div>
<div style="padding-top: 10px;">

  <div class="container caja-crud">

  </div>
</div>
<router-outlet></router-outlet>
